<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>bae</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>bae uses your local network for BitTorrent peer discovery.</string>
    <!-- Sparkle auto-update configuration -->
    <key>SUFeedURL</key>
    <string>https://github.com/bae-fm/bae/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>cYiouOrDxmQrHspLwOf/XpQOQOMt3isdYDs6xEDBGs8=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>


